<form method="post" action="/create">

 <textarea name="body" rows="10" cols="30">
 </textarea>

 <select name="message_type">
   <option value="first_visit"> Destroy this message after firt visit </option>
   <option value="after_hour"> Destroy this message after one hour </option>
 </select>

 <input type="submit" value="submit" >

</form>
