<style>
  .text1{

    text-align: center;
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 450px;
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
  }


</style>

<div class="text1">
  <% if @message.present? %>
    <% if @message.message_type == 'first_visit' %>
      <p><strong>Your message deleted after first visit:</strong></p>
    <% else @message.message_type == 'after_hour' %>
      <p><strong>Your message deleted at: <%= @message.created_at + 4.hour %></strong></p>
    <% end %>
    <cite>(Your message link: /message/<%=@message.fake_id%>)</cite>
    <p>
      <a href="/message/<%=@message.fake_id%>" type="button">
        <button>
          Open your message
        </button>  
      </a>
    </p>
  <% end %>

  <form method="post" action="/create">

    <p>
      <textarea name="body" rows="10" cols="30">
      </textarea>
    <p>

    <p>
      <select name="message_type">
      <option value="first_visit"> Destroy this message after firt visit </option>
      <option value="after_hour"> Destroy this message after one hour </option>
      </select>
    </p>

    <p>
      <input type="submit" value="submit" >
    </p>

  </form>
</div>
