<style>
  .text1{
    font-size: 130%;
    text-align: center;
    margin-top: 30px;
    margin-right: 450px;
    margin-left: 450px;
    padding-top: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    padding-left: 9px;
    border-style: solid;
    border-top: 0px;
    border-bottom: 0px;
  }
  .text2{
    text-align: center;
  }

</style>

<div class="text2">
  <h1> This is your message: </h1>
</div>

<div class="text1">
  <%= @message.body %>
</div>
